.vscode/launch.json
.vscode/settings.json
libs/Pixel/simulator/bin/application.linux-armv6hf/lib/core.jar
libs/Pixel/simulator/bin/application.linux-armv6hf/lib/gluegen-rt-natives-linux-armv6hf.jar
libs/Pixel/simulator/bin/application.linux-armv6hf/lib/gluegen-rt.jar
libs/Pixel/simulator/bin/application.linux-armv6hf/lib/jogl-all-natives-linux-armv6hf.jar
libs/Pixel/simulator/bin/application.linux-armv6hf/lib/jogl-all.jar
libs/Pixel/simulator/bin/application.linux-armv6hf/lib/net.jar
libs/Pixel/simulator/bin/application.linux-armv6hf/lib/readopcForStrandsver3.jar
libs/Pixel/simulator/bin/application.linux-armv6hf/source/readopcForStrandsver3.java
libs/Pixel/simulator/bin/application.linux-armv6hf/source/readopcForStrandsver3.pde
libs/Pixel/simulator/bin/linux32/readopcForStrands
libs/Pixel/simulator/bin/linux32/lib/core.jar
libs/Pixel/simulator/bin/linux32/lib/gluegen-rt-natives-linux-i586.jar
libs/Pixel/simulator/bin/linux32/lib/gluegen-rt.jar
libs/Pixel/simulator/bin/linux32/lib/jogl-all-natives-linux-i586.jar
libs/Pixel/simulator/bin/linux32/lib/jogl-all.jar
libs/Pixel/simulator/bin/linux32/lib/net.jar
libs/Pixel/simulator/bin/linux32/lib/readopcForStrands.jar
libs/Pixel/simulator/bin/linux64/readopcForStrands
libs/Pixel/simulator/bin/linux64/lib/core.jar
libs/Pixel/simulator/bin/linux64/lib/gluegen-rt-natives-linux-amd64.jar
libs/Pixel/simulator/bin/linux64/lib/gluegen-rt.jar
libs/Pixel/simulator/bin/linux64/lib/jogl-all-natives-linux-amd64.jar
libs/Pixel/simulator/bin/linux64/lib/jogl-all.jar
libs/Pixel/simulator/bin/linux64/lib/net.jar
libs/Pixel/simulator/bin/linux64/lib/readopcForStrands.jar
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/Info.plist
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/PkgInfo
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/_CodeSignature/CodeResources
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/Java/core.jar
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/Java/gluegen-rt-natives-macosx-universal.jar
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/Java/gluegen-rt.jar
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/Java/jogl-all-natives-macosx-universal.jar
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/Java/jogl-all.jar
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/Java/net.jar
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/Java/readopcForStrands.jar
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/MacOS/readopcForStrands
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/Resources/sketch.icns
libs/Pixel/simulator/bin/macosx/readopcForStrands.app/Contents/Resources/en.lproj/Localizable.strings
libs/Pixel/simulator/bin/windows32/readopcForStrands.exe
libs/Pixel/simulator/bin/windows32/lib/core.jar
libs/Pixel/simulator/bin/windows32/lib/gluegen-rt-natives-windows-i586.jar
libs/Pixel/simulator/bin/windows32/lib/gluegen-rt.jar
libs/Pixel/simulator/bin/windows32/lib/jogl-all-natives-windows-i586.jar
libs/Pixel/simulator/bin/windows32/lib/jogl-all.jar
libs/Pixel/simulator/bin/windows32/lib/net.jar
libs/Pixel/simulator/bin/windows32/lib/readopcForStrands.jar
libs/Pixel/simulator/bin/windows64/readopcForStrands.exe
libs/Pixel/simulator/bin/windows64/lib/core.jar
libs/Pixel/simulator/bin/windows64/lib/gluegen-rt-natives-windows-amd64.jar
libs/Pixel/simulator/bin/windows64/lib/gluegen-rt.jar
libs/Pixel/simulator/bin/windows64/lib/jogl-all-natives-windows-amd64.jar
libs/Pixel/simulator/bin/windows64/lib/jogl-all.jar
libs/Pixel/simulator/bin/windows64/lib/net.jar
libs/Pixel/simulator/bin/windows64/lib/readopcForStrands.jar
libs/Pixel/simulator/src/Processing/readopcForStrands/readopcForStrands.pde
libs/Pixel/simulator/src/Processing/readopcForStrands/sketch.properties
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
libs/Pixel/.gitignore
libs/Pixel/README.md
libs/Pixel/rubrik.txt
libs/Pixel/docs/.gitkeep
libs/Pixel/docs/physical_device.txt
libs/Pixel/docs/system_diagram.png
libs/Pixel/example/.gitkeep
libs/Pixel/example/opc.py
libs/Pixel/example/simple_example.py
libs/Pixel/simulator/bin/application.linux-armv6hf/readopcForStrandsver3
